[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-workinghourstracker
Exec=harbour-workinghourstracker
Name=Work Hours
# translation example:
# your app name in German locale (de)
Name[de]=Zeiterfassung
