[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-workinghourstracker
Exec=harbour-workinghourstracker
Name=Work Hours
# Danish (da)
#Name[da]=The Name
# German (de)
Name[de]=Zeiterfassung
# Spanish (es)
Name[es]=Horas de trabajo
# Finnish (fi)
Name[fi]=Kellokalle
# French (fr)
#Name[fr]=The Name
# Italian (it)
#Name[it]=The Name
# Norwegian (no)
#Name[no]=The Name
# Polish (pl)
#Name[pl]=The Name
# Portuguese (pt)
#Name[pt]=The Name
# Russian (ru)
#Name[ru]=The Name
# Swedish (sv)
#Name[sv]=The Name
# Simplified Chinese (zh_cn)
Name[zh_CN]=工时大师
# Traditional Chinese (zh_hk)
#Name[zh_HK]=The Name
# Catalanian (ca)
Name[ca]=Hores de Treball
# Dutch (nl_NL)
Name[nl_NL]=Work Hours
