[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=WorkingHoursTracker
Exec=WorkingHoursTracker
Name=WorkingHoursTracker
# translation example:
# your app name in German locale (de)
Name[de]=WorkingHoursTracker

